boto3==1.9.8
botocore==1.12.8
dnspython==1.15.0
dnspython3==1.15.0
docutils==0.14
jmespath==0.9.3
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.2
boto3==1.9.8
botocore==1.12.8
certifi==2018.8.24
chardet==3.0.4
dnspython==1.15.0
dnspython3==1.15.0
docutils==0.14
idna==2.7
jmespath==0.9.3
python-dateutil==2.7.3
requests==2.19.1
requests-file==1.4.3
s3transfer==0.1.13
six==1.11.0
tldextract==2.2.0
urllib3==1.24.2
